---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navbar from "../components/Navbar.jsx";
---

<BaseLayout title="Home">
  <Navbar />
  <main class="pt-24">
    <!-- Page content -->
  </main>
</BaseLayout>